{% load i18n %}

<script type="text/javascript">
    $(function() {
        $("li#sidenav-bucket").addClass("active");
    });
    $("a.snapshot-bucket").click(function(){
        if (confirm("{% trans 'Are you sure you take a snapshot?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.remove-bucket").click(function(){
        if (confirm("{% trans 'Are you sure you want to remove the bucket?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
</script>
