{% load i18n %}

<script type="text/javascript">
    $(function() {
        $("li#sidenav-environments").addClass("active");
    });
    $("a.remove-environment").click(function(){
        if (confirm("{% trans 'Are you sure you want to remove the environment?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.favorite-environment").click(function(){
        if (confirm("{% trans 'Are you sure you want to favorite the environment?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.unfavorite-environment").click(function(){
        if (confirm("{% trans 'Are you sure you want to unfavorite the environment?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
</script>
