{% load i18n %}

<script type="text/javascript">
    $(function() {
        $("li#sidenav-environments").addClass("active");
    });
    $("a.remove-environment").click(function(){
        if (confirm("{% trans 'Are you sure you want to remove the environment?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.favorite-environment").click(function(){
        var url = this.getAttribute('data-url');
        redirect(url);
    });
    $("a.unfavorite-environment").click(function(){
        var url = this.getAttribute('data-url');
        redirect(url);
    });
    $("a.public-environment").click(function(){
        var url = this.getAttribute('data-url');
        redirect(url);
    });
    $("a.private-environment").click(function(){
        var url = this.getAttribute('data-url');
        redirect(url);
    });
    $("a.edit-environment").click(function(){
        var url = this.getAttribute('data-url');
        redirect(url);
    });
    $("a.attach-image").click(function(){
        var url = this.getAttribute('data-url');
        redirect(url);
    });
    $("a.unattach-image").click(function(){
        var url = this.getAttribute('data-url');
        redirect(url);
    });
</script>
