{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load scivm %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Edit Environment Info' %}</span>
        <span class="pull-right">
        </span>
    </div>
    <div class="panel-body">
        <div class="app-form">
            <form role="form" method="post">
            {% crispy form %}
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Contains Images' %}</span>
    </div>
    <div class="panel-body">
        {% if included_images %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Visibility' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for image in included_images %}
                <tr>
                    <td>{{image.name}}</td>
                    <td>{{image.public|yesno:"Public,Private" }}</td>
                    <td>
                        <div class="btn-group">
                            <ul>
                                <a href="#" class="unattach-image" title="Unattach" data-url="{% url 'environment.views.unattach_image' image_id=image.id environment_id=environment.id %}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No images' %}</div>
        {% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Add My Images' %}</span>
    </div>
    <div class="panel-body">
        {% if private_images %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Visibility' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for image in private_images %}
                <tr>
                    <td>{{image.name}}</td>
                    <td>{{image.public|yesno:"Public,Private" }}</td>
                    <td>
                        <div class="btn-group">
                            <ul>
                                <a href="#" class="attach-image" title="Attach" data-url="{% url 'environment.views.attach_image' image_id=image.id environment_id=environment.id %}"><span class="glyphicon glyphicon-ok-circle"></span></a>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No images' %}</div>
        {% endif %}
    </div>
</div>
{% include "environment/_common.html" %}
<script type="text/javascript">
</script>
{% endblock %}
