{% extends "base.html" %}
{% load i18n %}
{% load scivm %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Environment' %}</span>
        <span class="section-toolbar">
        </span>
        <span class="pull-right">
            <a href="{% url 'environment.views.add_environment' %}" class="btn btn-success btn-sm">{% trans 'Add' %}</a>
        </span>
    </div>
    <div class="panel-body">
        {% if private_envs %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Visibility' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for h in private_envs %}
                <tr>
                    <td>{{h.name}}</td>
                    <td>{{h.private}}</td>
                    <td>
                        <div class="btn-group">
                                <a href="#" class="remove-environment" title="Delete" data-url="{% url 'environment.views.remove_environment' environment_id=h.id %}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No environments' %}</div>
        {% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Environment' %}</span>
        <span class="section-toolbar">
        </span>
    </div>
    <div class="panel-body">
        {% if public_envs %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Visibility' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for h in public_envs %}
                <tr>
                    <td>{{h.name}}</td>
                    <td>{{h.private}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#" class="star-environment" title="star" data-url="{% url 'environment.views.star_environment' environment_id=h.id %}"><span class="glyphicon glyphicon-star"></span></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No Public Environments' %}</div>
        {% endif %}
    </div>
</div>


{% include "environment/_common.html" %}
<script type="text/javascript">
</script>
{% endblock %}
