{% load i18n %}

<script type="text/javascript">
    $(function() {
        $("li#sidenav-bucketstore").addClass("active");
    });
    $("a.snapshot-bucketstore").click(function(){
        if (confirm("{% trans 'Are you sure you take a snapshot?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
    $("a.remove-bucketstore").click(function(){
        if (confirm("{% trans 'Are you sure you want to remove the bucketstore?' %}")) {
            var url = this.getAttribute('data-url');
            redirect(url);
        }
        return false;
    });
</script>
