{% extends "base.html" %}
{% load i18n %}
{% load scivm %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="panel-title section-title">{% trans 'Bucket Store' %}</span>
        <span class="section-toolbar">
        </span>
        <span class="pull-right">
            <a href="{% url 'bucketstore.views.add_bucketstore' %}" class="btn btn-success btn-sm">{% trans 'Add' %}</a>
        </span>
    </div>
    <div class="panel-body">
        {% if bucketstore %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for h in bucketstore %}
                <tr>
                    <td>{{h.label}}</td>
                    <td>{{h.bucketstore_exp}}</td>
                    <td>{{h.func_name}}</td>
                    <td><span class="label label-{% if h.enabled %}success{% else %}danger{% endif %}">{{h.enabled}}</span></td>
                    <td>
                        <div class="btn-group">
                            <a href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu right">
                                {% if h.enabled %}
                                <li><a href="#" class="disable-bucketstore" data-url="{% url 'bucketstore.views.disable_bucketstore' bucketstore_id=h.id %}">{% trans 'Disable Bucket Store' %}</a></li>
                                {% else %}
                                <li><a href="#" class="enable-bucketstore" data-url="{% url 'bucketstore.views.enable_bucketstore' bucketstore_id=h.id %}">{% trans 'Enable Bucket Store' %}</a></li>
                                {% endif %}
                                <li><a href="#" class="remove-bucketstore" data-url="{% url 'bucketstore.views.remove_bucketstore' bucketstore_id=h.id %}">{% trans 'Remove Bucket Store' %}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-muted">{% trans 'No bucketstore' %}</div>
        {% endif %}
    </div>
</div>
{% include "bucketstore/_common.html" %}
<script type="text/javascript">
</script>
{% endblock %}
