/* GLYPHICONS 1.8 */
@font-face { font-family: "Glyphicons"; src: url("/static/img/glyphicons-regular.eot"); src: url("/static/img/glyphicons-regular.eot?#iefix") format("eot"), url("/static/img/glyphicons-regular.woff") format("woff"), url("/static/img/glyphicons-regular.ttf") format("truetype"), url("/static/img/glyphicons-regular.woff") format("svg"); }

.glyph {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.glyph-glass:before { content: "\E001"; }
.glyph-leaf:before { content: "\E002"; }
.glyph-dog:before { content: "\1F415"; }
.glyph-user:before { content: "\E004"; }
.glyph-girl:before { content: "\1F467"; }
.glyph-car:before { content: "\E006"; }
.glyph-user_add:before { content: "\E007"; }
.glyph-user_remove:before { content: "\E008"; }
.glyph-film:before { content: "\E009"; }
.glyph-magic:before { content: "\E010"; }
.glyph-envelope:before { content: "\2709"; }
.glyph-camera:before { content: "\1F4F7"; }
.glyph-heart:before { content: "\E013"; }
.glyph-beach_umbrella:before { content: "\E014"; }
.glyph-train:before { content: "\1F686"; }
.glyph-print:before { content: "\E016"; }
.glyph-bin:before { content: "\E017"; }
.glyph-music:before { content: "\E018"; }
.glyph-note:before { content: "\E019"; }
.glyph-heart_empty:before { content: "\E020"; }
.glyph-home:before { content: "\E021"; }
.glyph-snowflake:before { content: "\2744"; }
.glyph-fire:before { content: "\1F525"; }
.glyph-magnet:before { content: "\E024"; }
.glyph-parents:before { content: "\E025"; }
.glyph-binoculars:before { content: "\E026"; }
.glyph-road:before { content: "\E027"; }
.glyph-search:before { content: "\E028"; }
.glyph-cars:before { content: "\E029"; }
.glyph-notes_2:before { content: "\E030"; }
.glyph-pencil:before { content: "\270F"; }
.glyph-bus:before { content: "\1F68C"; }
.glyph-wifi_alt:before { content: "\E033"; }
.glyph-luggage:before { content: "\E034"; }
.glyph-old_man:before { content: "\E035"; }
.glyph-woman:before { content: "\1F469"; }
.glyph-file:before { content: "\E037"; }
.glyph-coins:before { content: "\E038"; }
.glyph-airplane:before { content: "\2708"; }
.glyph-notes:before { content: "\E040"; }
.glyph-stats:before { content: "\E041"; }
.glyph-charts:before { content: "\E042"; }
.glyph-pie_chart:before { content: "\E043"; }
.glyph-group:before { content: "\E044"; }
.glyph-keys:before { content: "\E045"; }
.glyph-calendar:before { content: "\1F4C5"; }
.glyph-router:before { content: "\E047"; }
.glyph-camera_small:before { content: "\E048"; }
.glyph-dislikes:before { content: "\E049"; }
.glyph-star:before { content: "\E050"; }
.glyph-link:before { content: "\E051"; }
.glyph-eye_open:before { content: "\E052"; }
.glyph-eye_close:before { content: "\E053"; }
.glyph-alarm:before { content: "\E054"; }
.glyph-clock:before { content: "\E055"; }
.glyph-stopwatch:before { content: "\E056"; }
.glyph-projector:before { content: "\E057"; }
.glyph-history:before { content: "\E058"; }
.glyph-truck:before { content: "\E059"; }
.glyph-cargo:before { content: "\E060"; }
.glyph-compass:before { content: "\E061"; }
.glyph-keynote:before { content: "\E062"; }
.glyph-paperclip:before { content: "\1F4CE"; }
.glyph-power:before { content: "\E064"; }
.glyph-lightbulb:before { content: "\E065"; }
.glyph-tag:before { content: "\E066"; }
.glyph-tags:before { content: "\E067"; }
.glyph-cleaning:before { content: "\E068"; }
.glyph-ruller:before { content: "\E069"; }
.glyph-gift:before { content: "\E070"; }
.glyph-umbrella:before { content: "\2602"; }
.glyph-book:before { content: "\E072"; }
.glyph-bookmark:before { content: "\1F516"; }
.glyph-wifi:before { content: "\E074"; }
.glyph-cup:before { content: "\E075"; }
.glyph-stroller:before { content: "\E076"; }
.glyph-headphones:before { content: "\E077"; }
.glyph-headset:before { content: "\E078"; }
.glyph-warning_sign:before { content: "\E079"; }
.glyph-signal:before { content: "\E080"; }
.glyph-retweet:before { content: "\E081"; }
.glyph-refresh:before { content: "\E082"; }
.glyph-roundabout:before { content: "\E083"; }
.glyph-random:before { content: "\E084"; }
.glyph-heat:before { content: "\E085"; }
.glyph-repeat:before { content: "\E086"; }
.glyph-display:before { content: "\E087"; }
.glyph-log_book:before { content: "\E088"; }
.glyph-address_book:before { content: "\E089"; }
.glyph-building:before { content: "\E090"; }
.glyph-eyedropper:before { content: "\E091"; }
.glyph-adjust:before { content: "\E092"; }
.glyph-tint:before { content: "\E093"; }
.glyph-crop:before { content: "\E094"; }
.glyph-vector_path_square:before { content: "\E095"; }
.glyph-vector_path_circle:before { content: "\E096"; }
.glyph-vector_path_polygon:before { content: "\E097"; }
.glyph-vector_path_line:before { content: "\E098"; }
.glyph-vector_path_curve:before { content: "\E099"; }
.glyph-vector_path_all:before { content: "\E100"; }
.glyph-font:before { content: "\E101"; }
.glyph-italic:before { content: "\E102"; }
.glyph-bold:before { content: "\E103"; }
.glyph-text_underline:before { content: "\E104"; }
.glyph-text_strike:before { content: "\E105"; }
.glyph-text_height:before { content: "\E106"; }
.glyph-text_width:before { content: "\E107"; }
.glyph-text_resize:before { content: "\E108"; }
.glyph-left_indent:before { content: "\E109"; }
.glyph-right_indent:before { content: "\E110"; }
.glyph-align_left:before { content: "\E111"; }
.glyph-align_center:before { content: "\E112"; }
.glyph-align_right:before { content: "\E113"; }
.glyph-justify:before { content: "\E114"; }
.glyph-list:before { content: "\E115"; }
.glyph-text_smaller:before { content: "\E116"; }
.glyph-text_bigger:before { content: "\E117"; }
.glyph-embed:before { content: "\E118"; }
.glyph-embed_close:before { content: "\E119"; }
.glyph-table:before { content: "\E120"; }
.glyph-message_full:before { content: "\E121"; }
.glyph-message_empty:before { content: "\E122"; }
.glyph-message_in:before { content: "\E123"; }
.glyph-message_out:before { content: "\E124"; }
.glyph-message_plus:before { content: "\E125"; }
.glyph-message_minus:before { content: "\E126"; }
.glyph-message_ban:before { content: "\E127"; }
.glyph-message_flag:before { content: "\E128"; }
.glyph-message_lock:before { content: "\E129"; }
.glyph-message_new:before { content: "\E130"; }
.glyph-inbox:before { content: "\E131"; }
.glyph-inbox_plus:before { content: "\E132"; }
.glyph-inbox_minus:before { content: "\E133"; }
.glyph-inbox_lock:before { content: "\E134"; }
.glyph-inbox_in:before { content: "\E135"; }
.glyph-inbox_out:before { content: "\E136"; }
.glyph-cogwheel:before { content: "\E137"; }
.glyph-cogwheels:before { content: "\E138"; }
.glyph-picture:before { content: "\E139"; }
.glyph-adjust_alt:before { content: "\E140"; }
.glyph-database_lock:before { content: "\E141"; }
.glyph-database_plus:before { content: "\E142"; }
.glyph-database_minus:before { content: "\E143"; }
.glyph-database_ban:before { content: "\E144"; }
.glyph-folder_open:before { content: "\E145"; }
.glyph-folder_plus:before { content: "\E146"; }
.glyph-folder_minus:before { content: "\E147"; }
.glyph-folder_lock:before { content: "\E148"; }
.glyph-folder_flag:before { content: "\E149"; }
.glyph-folder_new:before { content: "\E150"; }
.glyph-edit:before { content: "\E151"; }
.glyph-new_window:before { content: "\E152"; }
.glyph-check:before { content: "\E153"; }
.glyph-unchecked:before { content: "\E154"; }
.glyph-more_windows:before { content: "\E155"; }
.glyph-show_big_thumbnails:before { content: "\E156"; }
.glyph-show_thumbnails:before { content: "\E157"; }
.glyph-show_thumbnails_with_lines:before { content: "\E158"; }
.glyph-show_lines:before { content: "\E159"; }
.glyph-playlist:before { content: "\E160"; }
.glyph-imac:before { content: "\E161"; }
.glyph-macbook:before { content: "\E162"; }
.glyph-ipad:before { content: "\E163"; }
.glyph-iphone:before { content: "\E164"; }
.glyph-iphone_transfer:before { content: "\E165"; }
.glyph-iphone_exchange:before { content: "\E166"; }
.glyph-ipod:before { content: "\E167"; }
.glyph-ipod_shuffle:before { content: "\E168"; }
.glyph-ear_plugs:before { content: "\E169"; }
.glyph-record:before { content: "\E170"; }
.glyph-step_backward:before { content: "\E171"; }
.glyph-fast_backward:before { content: "\E172"; }
.glyph-rewind:before { content: "\E173"; }
.glyph-play:before { content: "\E174"; }
.glyph-pause:before { content: "\E175"; }
.glyph-stop:before { content: "\E176"; }
.glyph-forward:before { content: "\E177"; }
.glyph-fast_forward:before { content: "\E178"; }
.glyph-step_forward:before { content: "\E179"; }
.glyph-eject:before { content: "\E180"; }
.glyph-facetime_video:before { content: "\E181"; }
.glyph-download_alt:before { content: "\E182"; }
.glyph-mute:before { content: "\E183"; }
.glyph-volume_down:before { content: "\E184"; }
.glyph-volume_up:before { content: "\E185"; }
.glyph-screenshot:before { content: "\E186"; }
.glyph-move:before { content: "\E187"; }
.glyph-more:before { content: "\E188"; }
.glyph-brightness_reduce:before { content: "\E189"; }
.glyph-brightness_increase:before { content: "\E190"; }
.glyph-circle_plus:before { content: "\E191"; }
.glyph-circle_minus:before { content: "\E192"; }
.glyph-circle_remove:before { content: "\E193"; }
.glyph-circle_ok:before { content: "\E194"; }
.glyph-circle_question_mark:before { content: "\E195"; }
.glyph-circle_info:before { content: "\E196"; }
.glyph-circle_exclamation_mark:before { content: "\E197"; }
.glyph-remove:before { content: "\E198"; }
.glyph-ok:before { content: "\E199"; }
.glyph-ban:before { content: "\E200"; }
.glyph-download:before { content: "\E201"; }
.glyph-upload:before { content: "\E202"; }
.glyph-shopping_cart:before { content: "\E203"; }
.glyph-lock:before { content: "\1F512"; }
.glyph-unlock:before { content: "\E205"; }
.glyph-electricity:before { content: "\E206"; }
.glyph-ok_2:before { content: "\E207"; }
.glyph-remove_2:before { content: "\E208"; }
.glyph-cart_out:before { content: "\E209"; }
.glyph-cart_in:before { content: "\E210"; }
.glyph-left_arrow:before { content: "\E211"; }
.glyph-right_arrow:before { content: "\E212"; }
.glyph-down_arrow:before { content: "\E213"; }
.glyph-up_arrow:before { content: "\E214"; }
.glyph-resize_small:before { content: "\E215"; }
.glyph-resize_full:before { content: "\E216"; }
.glyph-circle_arrow_left:before { content: "\E217"; }
.glyph-circle_arrow_right:before { content: "\E218"; }
.glyph-circle_arrow_top:before { content: "\E219"; }
.glyph-circle_arrow_down:before { content: "\E220"; }
.glyph-play_button:before { content: "\E221"; }
.glyph-unshare:before { content: "\E222"; }
.glyph-share:before { content: "\E223"; }
.glyph-chevron-right:before { content: "\E224"; }
.glyph-chevron-left:before { content: "\E225"; }
.glyph-bluetooth:before { content: "\E226"; }
.glyph-euro:before { content: "\20AC"; }
.glyph-usd:before { content: "\E228"; }
.glyph-gbp:before { content: "\E229"; }
.glyph-retweet_2:before { content: "\E230"; }
.glyph-moon:before { content: "\E231"; }
.glyph-sun:before { content: "\2609"; }
.glyph-cloud:before { content: "\2601"; }
.glyph-direction:before { content: "\E234"; }
.glyph-brush:before { content: "\E235"; }
.glyph-pen:before { content: "\E236"; }
.glyph-zoom_in:before { content: "\E237"; }
.glyph-zoom_out:before { content: "\E238"; }
.glyph-pin:before { content: "\E239"; }
.glyph-albums:before { content: "\E240"; }
.glyph-rotation_lock:before { content: "\E241"; }
.glyph-flash:before { content: "\E242"; }
.glyph-google_maps:before { content: "\E243"; }
.glyph-anchor:before { content: "\2693"; }
.glyph-conversation:before { content: "\E245"; }
.glyph-chat:before { content: "\E246"; }
.glyph-male:before { content: "\E247"; }
.glyph-female:before { content: "\E248"; }
.glyph-asterisk:before { content: "\002A"; }
.glyph-divide:before { content: "\00F7"; }
.glyph-snorkel_diving:before { content: "\E251"; }
.glyph-scuba_diving:before { content: "\E252"; }
.glyph-oxygen_bottle:before { content: "\E253"; }
.glyph-fins:before { content: "\E254"; }
.glyph-fishes:before { content: "\E255"; }
.glyph-boat:before { content: "\E256"; }
.glyph-delete:before { content: "\E257"; }
.glyph-sheriffs_star:before { content: "\E258"; }
.glyph-qrcode:before { content: "\E259"; }
.glyph-barcode:before { content: "\E260"; }
.glyph-pool:before { content: "\E261"; }
.glyph-buoy:before { content: "\E262"; }
.glyph-spade:before { content: "\E263"; }
.glyph-bank:before { content: "\1F3E6"; }
.glyph-vcard:before { content: "\E265"; }
.glyph-electrical_plug:before { content: "\E266"; }
.glyph-flag:before { content: "\E267"; }
.glyph-credit_card:before { content: "\E268"; }
.glyph-keyboard-wireless:before { content: "\E269"; }
.glyph-keyboard-wired:before { content: "\E270"; }
.glyph-shield:before { content: "\E271"; }
.glyph-ring:before { content: "\02DA"; }
.glyph-cake:before { content: "\E273"; }
.glyph-drink:before { content: "\E274"; }
.glyph-beer:before { content: "\E275"; }
.glyph-fast_food:before { content: "\E276"; }
.glyph-cutlery:before { content: "\E277"; }
.glyph-pizza:before { content: "\E278"; }
.glyph-birthday_cake:before { content: "\E279"; }
.glyph-tablet:before { content: "\E280"; }
.glyph-settings:before { content: "\E281"; }
.glyph-bullets:before { content: "\E282"; }
.glyph-cardio:before { content: "\E283"; }
.glyph-t-shirt:before { content: "\E284"; }
.glyph-pants:before { content: "\E285"; }
.glyph-sweater:before { content: "\E286"; }
.glyph-fabric:before { content: "\E287"; }
.glyph-leather:before { content: "\E288"; }
.glyph-scissors:before { content: "\E289"; }
.glyph-bomb:before { content: "\1F4A3"; }
.glyph-skull:before { content: "\1F480"; }
.glyph-celebration:before { content: "\E292"; }
.glyph-tea_kettle:before { content: "\E293"; }
.glyph-french_press:before { content: "\E294"; }
.glyph-coffe_cup:before { content: "\E295"; }
.glyph-pot:before { content: "\E296"; }
.glyph-grater:before { content: "\E297"; }
.glyph-kettle:before { content: "\E298"; }
.glyph-hospital:before { content: "\1F3E5"; }
.glyph-hospital_h:before { content: "\E300"; }
.glyph-microphone:before { content: "\1F3A4"; }
.glyph-webcam:before { content: "\E302"; }
.glyph-temple_christianity_church:before { content: "\E303"; }
.glyph-temple_islam:before { content: "\E304"; }
.glyph-temple_hindu:before { content: "\E305"; }
.glyph-temple_buddhist:before { content: "\E306"; }
.glyph-bicycle:before { content: "\1F6B2"; }
.glyph-life_preserver:before { content: "\E308"; }
.glyph-share_alt:before { content: "\E309"; }
.glyph-comments:before { content: "\E310"; }
.glyph-flower:before { content: "\2698"; }
.glyph-baseball:before { content: "\26BE"; }
.glyph-rugby:before { content: "\E313"; }
.glyph-ax:before { content: "\E314"; }
.glyph-table_tennis:before { content: "\E315"; }
.glyph-bowling:before { content: "\1F3B3"; }
.glyph-tree_conifer:before { content: "\E317"; }
.glyph-tree_deciduous:before { content: "\E318"; }
.glyph-more_items:before { content: "\E319"; }
.glyph-sort:before { content: "\E320"; }
.glyph-filter:before { content: "\E321"; }
.glyph-gamepad:before { content: "\E322"; }
.glyph-playing_dices:before { content: "\E323"; }
.glyph-calculator:before { content: "\E324"; }
.glyph-tie:before { content: "\E325"; }
.glyph-wallet:before { content: "\E326"; }
.glyph-piano:before { content: "\E327"; }
.glyph-sampler:before { content: "\E328"; }
.glyph-podium:before { content: "\E329"; }
.glyph-soccer_ball:before { content: "\E330"; }
.glyph-blog:before { content: "\E331"; }
.glyph-dashboard:before { content: "\E332"; }
.glyph-certificate:before { content: "\E333"; }
.glyph-bell:before { content: "\1F514"; }
.glyph-candle:before { content: "\E335"; }
.glyph-pushpin:before { content: "\1F4CC"; }
.glyph-iphone_shake:before { content: "\E337"; }
.glyph-pin_flag:before { content: "\E338"; }
.glyph-turtle:before { content: "\1F422"; }
.glyph-rabbit:before { content: "\1F407"; }
.glyph-globe:before { content: "\E341"; }
.glyph-briefcase:before { content: "\1F4BC"; }
.glyph-hdd:before { content: "\E343"; }
.glyph-thumbs_up:before { content: "\E344"; }
.glyph-thumbs_down:before { content: "\E345"; }
.glyph-hand_right:before { content: "\E346"; }
.glyph-hand_left:before { content: "\E347"; }
.glyph-hand_up:before { content: "\E348"; }
.glyph-hand_down:before { content: "\E349"; }
.glyph-fullscreen:before { content: "\E350"; }
.glyph-shopping_bag:before { content: "\E351"; }
.glyph-book_open:before { content: "\E352"; }
.glyph-nameplate:before { content: "\E353"; }
.glyph-nameplate_alt:before { content: "\E354"; }
.glyph-vases:before { content: "\E355"; }
.glyph-bullhorn:before { content: "\E356"; }
.glyph-dumbbell:before { content: "\E357"; }
.glyph-suitcase:before { content: "\E358"; }
.glyph-file_import:before { content: "\E359"; }
.glyph-file_export:before { content: "\E360"; }
.glyph-bug:before { content: "\1F41B"; }
.glyph-crown:before { content: "\1F451"; }
.glyph-smoking:before { content: "\E363"; }
.glyph-cloud-upload:before { content: "\E364"; }
.glyph-cloud-download:before { content: "\E365"; }
.glyph-restart:before { content: "\E366"; }
.glyph-security_camera:before { content: "\E367"; }
.glyph-expand:before { content: "\E368"; }
.glyph-collapse:before { content: "\E369"; }
.glyph-collapse_top:before { content: "\E370"; }
.glyph-globe_af:before { content: "\E371"; }
.glyph-global:before { content: "\E372"; }
.glyph-spray:before { content: "\E373"; }
.glyph-nails:before { content: "\E374"; }
.glyph-claw_hammer:before { content: "\E375"; }
.glyph-classic_hammer:before { content: "\E376"; }
.glyph-hand_saw:before { content: "\E377"; }
.glyph-riflescope:before { content: "\E378"; }
.glyph-electrical_socket_eu:before { content: "\E379"; }
.glyph-electrical_socket_us:before { content: "\E380"; }
.glyph-message_forward:before { content: "\E381"; }
.glyph-coat_hanger:before { content: "\E382"; }
.glyph-dress:before { content: "\1F457"; }
.glyph-bathrobe:before { content: "\E384"; }
.glyph-shirt:before { content: "\E385"; }
.glyph-underwear:before { content: "\E386"; }
.glyph-log_in:before { content: "\E387"; }
.glyph-log_out:before { content: "\E388"; }
.glyph-exit:before { content: "\E389"; }
.glyph-new_window_alt:before { content: "\E390"; }
.glyph-video_sd:before { content: "\E391"; }
.glyph-video_hd:before { content: "\E392"; }
.glyph-subtitles:before { content: "\E393"; }
.glyph-sound_stereo:before { content: "\E394"; }
.glyph-sound_dolby:before { content: "\E395"; }
.glyph-sound_5_1:before { content: "\E396"; }
.glyph-sound_6_1:before { content: "\E397"; }
.glyph-sound_7_1:before { content: "\E398"; }
.glyph-copyright_mark:before { content: "\E399"; }
.glyph-registration_mark:before { content: "\E400"; }
.glyph-radar:before { content: "\E401"; }
.glyph-skateboard:before { content: "\E402"; }
.glyph-golf_course:before { content: "\E403"; }
.glyph-sorting:before { content: "\E404"; }
.glyph-sort-by-alphabet:before { content: "\E405"; }
.glyph-sort-by-alphabet-alt:before { content: "\E406"; }
.glyph-sort-by-order:before { content: "\E407"; }
.glyph-sort-by-order-alt:before { content: "\E408"; }
.glyph-sort-by-attributes:before { content: "\E409"; }
.glyph-sort-by-attributes-alt:before { content: "\E410"; }
.glyph-compressed:before { content: "\E411"; }
.glyph-package:before { content: "\1F4E6"; }
.glyph-cloud_plus:before { content: "\E413"; }
.glyph-cloud_minus:before { content: "\E414"; }
.glyph-disk_save:before { content: "\E415"; }
.glyph-disk_open:before { content: "\E416"; }
.glyph-disk_saved:before { content: "\E417"; }
.glyph-disk_remove:before { content: "\E418"; }
.glyph-disk_import:before { content: "\E419"; }
.glyph-disk_export:before { content: "\E420"; }
.glyph-tower:before { content: "\E421"; }
.glyph-send:before { content: "\E422"; }
.glyph-git_branch:before { content: "\E423"; }
.glyph-git_create:before { content: "\E424"; }
.glyph-git_private:before { content: "\E425"; }
.glyph-git_delete:before { content: "\E426"; }
.glyph-git_merge:before { content: "\E427"; }
.glyph-git_pull_request:before { content: "\E428"; }
.glyph-git_compare:before { content: "\E429"; }
.glyph-git_commit:before { content: "\E430"; }
.glyph-construction_cone:before { content: "\E431"; }
.glyph-shoe_steps:before { content: "\E432"; }
.glyph-plus:before { content: "\002B"; }
.glyph-minus:before { content: "\2212"; }
.glyph-redo:before { content: "\E435"; }
.glyph-undo:before { content: "\E436"; }
.glyph-golf:before { content: "\E437"; }
.glyph-hockey:before { content: "\E438"; }
.glyph-pipe:before { content: "\E439"; }
.glyph-wrench:before { content: "\1F527"; }
.glyph-folder_closed:before { content: "\E441"; }
.glyph-phone_alt:before { content: "\E442"; }
.glyph-earphone:before { content: "\E443"; }
.glyph-floppy_disk:before { content: "\E444"; }
.glyph-floppy_saved:before { content: "\E445"; }
.glyph-floppy_remove:before { content: "\E446"; }
.glyph-floppy_save:before { content: "\E447"; }
.glyph-floppy_open:before { content: "\E448"; }
.glyph-translate:before { content: "\E449"; }
.glyph-fax:before { content: "\E450"; }
.glyph-factory:before { content: "\1F3ED"; }
.glyph-shop_window:before { content: "\E452"; }
.glyph-shop:before { content: "\E453"; }
.glyph-kiosk:before { content: "\E454"; }
.glyph-kiosk_wheels:before { content: "\E455"; }
.glyph-kiosk_light:before { content: "\E456"; }
.glyph-kiosk_food:before { content: "\E457"; }
.glyph-transfer:before { content: "\E458"; }
.glyph-money:before { content: "\E459"; }
.glyph-header:before { content: "\E460"; }
.glyph-blacksmith:before { content: "\E461"; }
.glyph-saw_blade:before { content: "\E462"; }
.glyph-basketball:before { content: "\E463"; }
.glyph-server:before { content: "\E464"; }
.glyph-server_plus:before { content: "\E465"; }
.glyph-server_minus:before { content: "\E466"; }
.glyph-server_ban:before { content: "\E467"; }
.glyph-server_flag:before { content: "\E468"; }
.glyph-server_lock:before { content: "\E469"; }
.glyph-server_new:before { content: "\E470"; }
